ffmpeg_python==0.2.0
iou==0.1.0
librosa==0.11.0
lws==1.2.8
more_itertools==10.7.0
numpy==2.3.0
opencv_python==4.10.0.84
opencv_python_headless==4.11.0.86
Pillow==11.2.1
regex==2024.11.6
Requests==2.32.4
scipy==1.15.3
skimage==0.0
soundfile==0.13.1
torch==2.3.0+cu121
torchvision==0.18.0+cu121
tqdm==4.66.4
transformers==4.38.0
